body {
    background-color: black;
    background-image: url(aliencode.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 768px) {
    body {
        background-image: url('CNCTW_Scrin_Logo.webp');
    }
}
